{
  "ConnectionStrings": {
    "DefaultConnection": "DRIVER={Microsoft Access Driver (*.mdb)};DBQ={{ mdb_path }};"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
